.trial.CuedLetterStem { font-size: 200%; text-align: center; font-family: Arial; }
.trial.CuedLetterStem div { margin: 15px; }
.trial.CuedLetterStem span { display: inline-block; width: 48%; }
.trial.CuedLetterStem span:nth-child(1) { text-align: right; }
.trial.CuedLetterStem span:nth-child(2) { width: 2%; }
.trial.CuedLetterStem span:nth-child(3) { text-align: left; }
.trial.CuedLetterStem input { font-size: 100%; font-family: inherit; margin: -1px; }
