.trial.StudyAll { font-size: 200%; text-align: center; }
.trial.StudyAll span { display: inline-block; width: 48%; }
.trial.StudyAll span:nth-child(1) { text-align: right; }
.trial.StudyAll span:nth-child(2) { width: 2%; }
.trial.StudyAll span:nth-child(3) { text-align: left; }
