.trial.CopyAll { font-size: 200%; text-align: center; font-family: Arial; }
.trial.CopyAll div { margin: 15px; }
.trial.CopyAll span { display: inline-block; width: 48%; }
.trial.CopyAll span:nth-child(1) { text-align: right; }
.trial.CopyAll span:nth-child(2) { width: 2%; }
.trial.CopyAll span:nth-child(3) { text-align: left; }
.trial.CopyAll input { font-size: 100%; font-family: inherit; margin: -1px; }
